@import "libs/__reset.scss";
@import "libs/__variables.scss";
@import "utils/__fonts.scss";
@import "libs/__mixins.scss";
@import "libs/__responsive.scss";
@import "components/__button.scss";
@import "utils/__animations.scss";

body {
  font-family: $texts;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titles;
  color: black;
}

.regular-title {
  font-family: $texts;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

.header {
  text-align: center;

  &__logo-wrapper {
    padding: 25px 0 10px 0;
    box-shadow: 1px 3px 10px rgba(50, 50, 50, 0.35);

    @include large-screen {
      padding: 50px 0 20px 0;
    }
  }

  &__area-wrapper {
    margin-top: 5px; // allows .header__logo-wrapper box-shadow
  }

  &__area {
    background: #eaeaea;
    padding: 13px 0;
    font-weight: bold;
    color: #565656;

    @include large-screen {
      padding: 26px 0;
    }

    i {
      margin-right: 10px;
    }
  }

  &__cta-wrapper {
    background: $background-variation;

    .header__cta {
      padding: 40px 0 70px 0;
      width: 90%;
      margin: auto;

      @include large-screen {
        padding: 80px 0 100px 0;
      }

      h1 {
        font-size: 1.5em;
        line-height: 1.2em;
        width: 80%;
        margin: auto;

        @include large-screen {
          font-size: 2em;
        }
      }

      p {
        color: $color-quatenary;
        margin: 10px 0 45px 0;
        font-size: 1.05em;
      }

      &__button {
        white-space: nowrap;
        @include button;
      }
    }
  }
}

.fonctionnement-wrapper {
  padding: 40px 0 75px 0;

  @include large-screen {
    padding: 80px 0 100px 0;
  }

  .fonctionnement {
    width: 90%;
    margin: auto;

    @include medium-screen {
      width: 100%;
    }
    @include large-screen {
      width: 90%;
    }

    h2 {
      font-size: 1.5em;
      margin-bottom: 25px;

      @include medium-screen {
        text-align: center;
      }

      @include large-screen {
        margin-bottom: 50px;
        font-size: 2em;
      }
    }

    &__steps {
      @include medium-screen {
        display: flex;
        justify-content: space-evenly;
      }
    }

    &__steps__item {
      display: flex;
      margin: auto;
      max-width: 350px;
      background: #f6f6f6;
      border-radius: 20px;
      padding: 26px 0;
      font-weight: bold;
      box-shadow: 1px 6px 6px rgba(50, 50, 50, 0.1);
      position: relative;
      transition: 0.3s;

      @include medium-screen {
        width: 31%;
      }

      @include large-screen {
        max-width: none;
        width: 30%;
      }

      &:hover {
        background: rgba(147, 86, 220, 0.1);

        @include large-screen {
          transform: scale(1.03);
        }

        i {
          color: $color-primary;
        }
      }

      &:nth-child(2) {
        margin: 25px auto;

        @include medium-screen {
          margin: 0;
        }
      }

      i {
        color: $color-quatenary;
        font-size: 1.2em;
        margin: 0 27px 0 36px;

        @include medium-screen {
          margin-left: 25px;
          margin-right: 15px;
        }
      }

      &:nth-child(1):before {
        content: "1";
        @include steps-number;
      }
      &:nth-child(2):before {
        content: "2";
        @include steps-number;
      }
      &:nth-child(3):before {
        content: "3";
        @include steps-number;
      }
    }
  }
}

.restaurants-wrapper {
  background: $background-variation;
  padding: 50px 0;

  .restaurants {
    width: 90%;
    margin: auto;

    h2 {
      font-size: 1.5em;
      margin-bottom: 25px;

      @include large-screen {
        margin-bottom: 50px;
        font-size: 2em;
      }

      @include medium-screen {
        text-align: center;
      }
    }

    &__item-wrapper {
      max-width: 500px;
      margin: auto;

      @include medium-screen {
        max-width: 75%;
      }

      @include large-screen {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    &__item {
      margin-bottom: 20px;
      transition: 0.3s;

      @include medium-screen {
        margin-bottom: 40px;
      }

      @include large-screen {
        width: 48%;
      }

      &:hover {
        @include large-screen {
          transform: scale(1.03);
        }
      }

      img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 175px;
        object-fit: cover;
        position: relative;
      }

      span {
        background-color: $color-tertiary;
        color: #289077;
        font-weight: bold;
        font-size: 0.9em;
        padding: 6px 12px;
        position: absolute;
        transform: translate(-120%, 50%);
      }

      &__flex {
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border-radius: 0 0 15px 15px;
        box-shadow: 4px 8px 20px rgba(50, 50, 50, 0.1);
        margin-top: -4px;

        p {
          color: $color-quatenary;
        }

        i {
          transform: scale(1.4, 1.7);
          color: $color-quatenary;
        }

        @include medium-screen {
          h3 {
            font-size: 1.1em;
          }
        }
        @include large-screen {
          h3 {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

.header__restaurant-wrapper {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: relative;

  @include large-screen {
    padding: 30px 0;
  }

  i {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 1.2em;

    @include large-screen {
      top: 38px;
    }
  }
}

.header__restaurant-image-note {
  @include background-restaurant;
  background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");

  @include large-screen {
    background-position: center;
  }
}
.header__restaurant-image-palette {
  @include background-restaurant;
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.header__restaurant-image-francaise {
  @include background-restaurant;
  background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.header__restaurant-image-delice {
  @include background-restaurant;
  background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.restaurant-page-wrapper {
  background: $background-variation;
  border-radius: 40px 40px 0 0;
  margin-top: -65px;
  padding: 30px 0;

  @include large-screen {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .restaurant-page {
    width: 90%;
    margin: auto;

    &__menus-wrapper {
      @include large-screen {
        width: 30%;
      }
    }

    @include large-screen {
      &__flex {
        display: flex;
        justify-content: space-between;
      }
    }

    &__label {
      text-transform: uppercase;
      line-height: 1.5em;
    }

    &__restaurant-name {
      margin-bottom: 30px;
      position: relative;

      h1 {
        font-size: 1.7em;
        width: 80%;

        @include medium-screen {
          width: 100%;
        }
        @include large-screen {
          font-size: 2em;
          width: 100%;
        }
      }
      i {
        margin: auto;
        color: $color-quatenary;
        transform: scale(1.4, 1.7);
        position: absolute;
        right: 20px;
        top: 27%;
      }
    }

    &__label-wrapper {
      margin-bottom: 20px;

      span::before {
        content: " ";
        height: 3px;
        width: 40px;
        background-color: $color-tertiary;
        position: absolute;
      }
      @include medium-screen {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      @include large-screen {
        width: 100%;
      }
    }

    &__label {
      margin-bottom: 3px;
    }

    &__plates-wrapper {
      margin-bottom: 30px;

      @include large-screen {
        margin-top: 30px;
      }
    }

    &__plate {
      background: white;
      border-radius: 15px;
      display: flex;
      overflow: hidden; // cacher checkbox hors du conteneur
      width: 100%;
      box-shadow: 1px 6px 6px rgba(50, 50, 50, 0.1);
      margin-bottom: 15px;
      transition: 0.5s;

      @include medium-screen {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      @include large-screen {
        margin-bottom: 30px;
        width: 100%;
      }
    }

    &__plate-description {
      width: 100%;
      display: flex;
      max-width: 100%;
      margin-bottom: 9px;
      overflow: hidden;
    }

    &__plate-description-text {
      width: 100%;
      margin-left: 10px;
      overflow: hidden; // permet au prix de rester visible en minifiant la description + "..."

      @include medium-screen {
        margin-left: 20px;
      }

      &__plate-name {
        margin: 8px 0 0 0;
        font-weight: bold;
        font-size: 1.1em;
        line-height: 1.5em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @include medium-screen {
          margin: 16px 0 0 0;
        }
      }

      &__plate-infos {
        margin-bottom: 3px;
        color: $color-quatenary;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.9em;

        @include medium-screen {
          margin-bottom: 9px;
        }
      }
    }

    &__plate-price-wrapper {
      display: flex;
      align-items: flex-end;
      margin-bottom: 3px;
      margin-right: 9px;
      font-size: 0.9em;

      @include medium-screen {
        margin-bottom: 9px;
      }
    }

    &__plate-price {
      font-weight: bold;
      margin-right: 10px;
    }

    &__check-wrapper {
      width: 30%;
      background: $color-tertiary;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -30%; // cacher checkbox
      transition: 0.5s ease;

      i {
        color: $color-tertiary;
        padding: 5px;
        border-radius: 50%;
        background: white;
        transition-duration: 0.5s;
      }
    }

    &__plate:hover  {
      cursor: pointer;

      .restaurant-page__check-wrapper {
      margin-right: 0; // faire réapparaître checkbox en annulant -30% margin right
      transition: 0.5s ease;
      }

      .fa-check {
      transform: rotate(360deg);
      transition: 0.5s;
      }
    }

    &__button-wrapper {
      text-align: center;
      margin: 60px 0 50px 0;

      @include large-screen {
        margin-top: 30px;
      }
      &__button {
        @include button;
        background: linear-gradient(
          to top,
          $color-primary 0%,
          $color-secondary 100%
        );
      }
    }
  }
}

footer {
  background: #353535;

  .footer__content {
    width: 90%;
    margin: auto;
    color: white;
    padding: 30px 0 45px 0;

    @include medium-screen {
      width: 67%;
    }

    img {
      max-width: 30%;
      padding-bottom: 10px;
      filter: invert(100%);
    }

    li {
      line-height: 1.6em;

      a {
        color: white;
      }
    }

    i {
      font-size: 0.8em;
    }

    li:nth-child(1) {
      i {
        margin-right: 15px;
      }
    }
    li:nth-child(2) {
      i {
        margin-right: 10px;
      }
    }
  }
}

.fa-heart {
  // heart animation
  @include heartgrow;
}

@for $i from 1 through 4 {
  // menu animation
  .restaurant-page__plate:nth-child(#{$i}) {
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: $i * 0.2s;
  }
}

/*.restaurant-page__plate:nth-child(1) {
  animation: fadein 2s 200ms both;
}
.restaurant-page__plate:nth-child(2) {
  animation: fadein 2s 400ms both;
}
.restaurant-page__plate:nth-child(3) {
  animation: fadein 2s 600ms both;
}
.restaurant-page__plate:nth-child(4) {
  animation: fadein 2s 800ms both;
}*/

// loader
.loader {
  display: block;
  width: 196px;
  height: 34px;
  background-image: url(images/logo/ohmyfood@2x-spinner.svg);
  animation: loader 1.5s ease;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: $background-variation;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader-opacity 250ms 2s forwards;
  opacity: 1;
  z-index: 1;
}