/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Shrikhand", cursive;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

header {
  text-align: center;
}
header .header__logo-wrapper {
  padding: 25px 0 10px 0;
  box-shadow: 1px 3px 10px rgba(50, 50, 50, 0.35);
}
@media screen and (min-width: 1366px) {
  header .header__logo-wrapper {
    padding: 50px 0 20px 0;
  }
}
header .header__area-wrapper {
  margin-top: 5px; /* allows .header__logo-wrapper box-shadow */
}
header .header__area {
  background: #EAEAEA;
  padding: 13px 0;
  font-weight: bold;
  color: #565656;
}
@media screen and (min-width: 1366px) {
  header .header__area {
    padding: 26px 0;
  }
}
header .header__area i {
  margin-right: 10px;
}
header .header__cta-wrapper {
  background: #F6F6F6;
}
header .header__cta-wrapper .header__cta {
  padding: 40px 0 70px 0;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 1366px) {
  header .header__cta-wrapper .header__cta {
    padding: 80px 0 100px 0;
  }
}
header .header__cta-wrapper .header__cta h1 {
  font-size: 1.5em;
  line-height: 1.2em;
  width: 80%;
  margin: auto;
}
@media screen and (min-width: 1366px) {
  header .header__cta-wrapper .header__cta h1 {
    font-size: 2em;
  }
}
header .header__cta-wrapper .header__cta p {
  color: #7d7d7d;
  margin: 10px 0 45px 0;
  font-size: 1.05em;
}
header .header__cta-wrapper .header__cta .header__cta__button {
  text-decoration: none;
  color: white;
  width: 70%;
  max-width: 215px;
  margin: auto;
  padding: 15px 20px;
  border-radius: 50px;
  background: linear-gradient(to left top, #9356DC 0%, #FF79DA 100%);
  box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.35);
  transition: 0.3s;
}
header .header__cta-wrapper .header__cta .header__cta__button a {
  font-size: 1em;
}
header .header__cta-wrapper .header__cta .header__cta__button:hover {
  opacity: 0.8;
  box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.7);
}

.fonctionnement-wrapper {
  padding: 40px 0 75px 0;
}
@media screen and (min-width: 1366px) {
  .fonctionnement-wrapper {
    padding: 80px 0 100px 0;
  }
}
.fonctionnement-wrapper .fonctionnement {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .fonctionnement-wrapper .fonctionnement {
    width: 100%;
  }
}
@media screen and (min-width: 1366px) {
  .fonctionnement-wrapper .fonctionnement {
    width: 90%;
  }
}
.fonctionnement-wrapper .fonctionnement h2 {
  font-size: 1.5em;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .fonctionnement-wrapper .fonctionnement h2 {
    text-align: center;
  }
}
@media screen and (min-width: 1366px) {
  .fonctionnement-wrapper .fonctionnement h2 {
    margin-bottom: 50px;
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement-wrapper .fonctionnement .fonctionnement__steps {
    display: flex;
    justify-content: space-evenly;
  }
}
.fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item {
  margin: auto;
  max-width: 350px;
  background: #F6F6F6;
  border-radius: 20px;
  padding: 26px 0;
  font-weight: bold;
  box-shadow: 1px 6px 6px rgba(50, 50, 50, 0.1);
  position: relative;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item {
    width: 31%;
  }
}
@media screen and (min-width: 1366px) {
  .fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item {
    max-width: none;
    width: 30%;
  }
}
.fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item:hover {
  background: rgba(147, 86, 220, 0.1);
}
@media screen and (min-width: 1366px) {
  .fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item:hover {
    transform: scale(1.03);
  }
}
.fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item:hover i {
  color: #9356DC;
}
.fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item:nth-child(2) {
  margin: 25px auto;
}
@media screen and (min-width: 768px) {
  .fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item:nth-child(2) {
    margin: 0;
  }
}
.fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item i {
  color: #7d7d7d;
  font-size: 1.2em;
  margin: 0 35px;
}
@media screen and (min-width: 768px) {
  .fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item i {
    margin-left: 25px;
    margin-right: 15px;
  }
}
.fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item:nth-child(1):before {
  content: "1";
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: -10px;
}
.fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item:nth-child(2):before {
  content: "2";
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: -10px;
}
.fonctionnement-wrapper .fonctionnement .fonctionnement__steps__item:nth-child(3):before {
  content: "3";
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: -10px;
}

.restaurants-wrapper {
  background: #F6F6F6;
  padding: 50px 0;
}
.restaurants-wrapper .restaurants {
  width: 90%;
  margin: auto;
}
.restaurants-wrapper .restaurants h2 {
  font-size: 1.5em;
  margin-bottom: 25px;
}
@media screen and (min-width: 1366px) {
  .restaurants-wrapper .restaurants h2 {
    margin-bottom: 50px;
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  .restaurants-wrapper .restaurants h2 {
    text-align: center;
  }
}
.restaurants-wrapper .restaurants .restaurants__item-wrapper {
  max-width: 500px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .restaurants-wrapper .restaurants .restaurants__item-wrapper {
    max-width: 75%;
  }
}
@media screen and (min-width: 1366px) {
  .restaurants-wrapper .restaurants .restaurants__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants-wrapper .restaurants .restaurants__item {
  margin-bottom: 20px;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .restaurants-wrapper .restaurants .restaurants__item {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .restaurants-wrapper .restaurants .restaurants__item {
    width: 48%;
  }
}
@media screen and (min-width: 1366px) {
  .restaurants-wrapper .restaurants .restaurants__item:hover {
    transform: scale(1.03);
  }
}
.restaurants-wrapper .restaurants .restaurants__item img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 175px;
  object-fit: cover;
  position: relative;
}
.restaurants-wrapper .restaurants .restaurants__item span {
  background-color: #99E2D0;
  color: #289077;
  font-weight: bold;
  font-size: 0.9em;
  padding: 6px 12px;
  position: absolute;
  transform: translate(-120%, 50%);
}
.restaurants-wrapper .restaurants .restaurants__item .restaurants__item__flex {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  box-shadow: 4px 8px 20px rgba(50, 50, 50, 0.1);
  margin-top: -4px;
}
.restaurants-wrapper .restaurants .restaurants__item .restaurants__item__flex p {
  color: #7d7d7d;
}
.restaurants-wrapper .restaurants .restaurants__item .restaurants__item__flex i {
  transform: scale(1.4, 1.7);
  color: #7d7d7d;
}
@media screen and (min-width: 768px) {
  .restaurants-wrapper .restaurants .restaurants__item .restaurants__item__flex h3 {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1366px) {
  .restaurants-wrapper .restaurants .restaurants__item .restaurants__item__flex h3 {
    font-size: 1.2em;
  }
}

.header__restaurant-wrapper {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: relative;
}
@media screen and (min-width: 1366px) {
  .header__restaurant-wrapper {
    padding: 30px 0;
  }
}
.header__restaurant-wrapper i {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 1.2em;
}
@media screen and (min-width: 1366px) {
  .header__restaurant-wrapper i {
    top: 38px;
  }
}

.header__restaurant-image-note {
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
@media screen and (min-width: 768px) {
  .header__restaurant-image-note {
    height: 350px;
  }
}
@media screen and (min-width: 1366px) {
  .header__restaurant-image-note {
    height: 400px;
    background-attachment: fixed;
  }
}

.header__restaurant-image-palette {
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
@media screen and (min-width: 768px) {
  .header__restaurant-image-palette {
    height: 350px;
  }
}
@media screen and (min-width: 1366px) {
  .header__restaurant-image-palette {
    height: 400px;
    background-position: bottom;
    background-attachment: fixed;
  }
}

.header__restaurant-image-francaise {
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
@media screen and (min-width: 768px) {
  .header__restaurant-image-francaise {
    height: 350px;
  }
}
@media screen and (min-width: 1366px) {
  .header__restaurant-image-francaise {
    height: 400px;
    background-position: bottom;
    background-attachment: fixed;
  }
}

.header__restaurant-image-delice {
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
@media screen and (min-width: 768px) {
  .header__restaurant-image-delice {
    height: 350px;
  }
}
@media screen and (min-width: 1366px) {
  .header__restaurant-image-delice {
    height: 400px;
    background-position: bottom;
    background-attachment: fixed;
  }
}

.restaurant-page-wrapper {
  background: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-top: -65px;
  padding: 30px 0;
}
@media screen and (min-width: 1366px) {
  .restaurant-page-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.restaurant-page-wrapper .restaurant-page {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 1366px) {
  .restaurant-page-wrapper .restaurant-page .restaurant-page__menus-wrapper {
    width: 30%;
  }
}
@media screen and (min-width: 1366px) {
  .restaurant-page-wrapper .restaurant-page .restaurant-page__flex {
    display: flex;
    justify-content: space-between;
  }
}
.restaurant-page-wrapper .restaurant-page__label {
  text-transform: uppercase;
  line-height: 1.5em;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__restaurant-name {
  margin-bottom: 30px;
  position: relative;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__restaurant-name h1 {
  font-size: 1.7em;
}
@media screen and (min-width: 1366px) {
  .restaurant-page-wrapper .restaurant-page .restaurant-page__restaurant-name h1 {
    font-size: 2em;
  }
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__restaurant-name i {
  margin: auto;
  color: #7d7d7d;
  transform: scale(1.4, 1.7);
  position: absolute;
  right: 20px;
  top: 27%;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__label-wrapper {
  margin-bottom: 20px;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__label-wrapper span::before {
  content: " ";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  position: absolute;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__label {
  margin-bottom: 3px;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__plates-wrapper {
  margin-bottom: 30px;
}
@media screen and (min-width: 1366px) {
  .restaurant-page-wrapper .restaurant-page .restaurant-page__plates-wrapper {
    margin-top: 30px;
  }
}
.restaurant-page-wrapper .restaurant-page__plate {
  background-color: white;
  padding: 11px 10px 11px 20px;
  border-radius: 15px;
  box-shadow: 1px 6px 6px rgba(50, 50, 50, 0.1);
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .restaurant-page-wrapper .restaurant-page__plate {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
  }
}
@media screen and (min-width: 1366px) {
  .restaurant-page-wrapper .restaurant-page__plate {
    margin-bottom: 30px;
    padding: 20px 15px 20px 25px;
  }
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__plate-name {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__plate-price-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__plate-price-wrapper .restaurant-page__plate-description {
  color: #7d7d7d;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page__plate-price-wrapper .restaurant-page__plate-price {
  font-weight: bold;
  margin-right: 10px;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page_button-wrapper {
  text-align: center;
  margin: 60px 0 50px 0;
}
@media screen and (min-width: 1366px) {
  .restaurant-page-wrapper .restaurant-page .restaurant-page_button-wrapper {
    margin-top: 30px;
  }
}
.restaurant-page-wrapper .restaurant-page .restaurant-page_button {
  text-decoration: none;
  color: white;
  margin: auto;
  width: 70%;
  max-width: 215px;
  border-radius: 50px;
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.35);
  transition: 0.3s;
  padding: 15px 50px;
}
.restaurant-page-wrapper .restaurant-page .restaurant-page_button:hover {
  opacity: 0.8;
  box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.7);
}

footer {
  background: #353535;
}
footer .footer__content {
  width: 90%;
  margin: auto;
  color: white;
  padding: 30px 0 45px 0;
}
@media screen and (min-width: 768px) {
  footer .footer__content {
    width: 67%;
  }
}
footer .footer__content img {
  max-width: 30%;
  padding-bottom: 10px;
  filter: invert(100%);
}
footer .footer__content li {
  line-height: 1.6em;
}
footer .footer__content li a {
  color: white;
}
footer .footer__content i {
  font-size: 0.8em;
}
footer .footer__content li:nth-child(1) i {
  margin-right: 15px;
}
footer .footer__content li:nth-child(2) i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
